@import "tailwindcss";

h1{
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
    font-weight: 600;
    white-space: nowrap;
}